.card {
    max-width: 70em;

    background-color: #edf3f9;
    border-style: solid;
    border-color: #abf8a5;
    border-radius: 2em;
    border-width: 2px;

    height: 20em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    position: relative;

    margin-top: 3em;
    margin-bottom: 6em;
}

.card::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    width: 2px;
    height: 80%;
    background-color:#abf8a5;

    transform: translateX(-50%);
    z-index: 1;
}

.card img {
    grid-column: 1/2;
    width: 90%;
    max-height: 80%;
    object-fit: contain;

    position: absolute; /* instead of absolute for natural flow */
    margin: auto;
    display: block;
}

.card:nth-child(even) img {
    grid-column: 2/2;
}

.card .text {
    grid-column: 2/2;
    padding: 2em;
    text-align: justify;
}

.card:nth-child(even) .text {
    grid-column: 1/2;
}

.text h2 {
    position: relative;
}

.card .text h2 span {
    margin-left: 0.5em;
    color: var(--clr-primary-a30);
    position: absolute;
    top: 0.15em;
}

h2 a {
    z-index: 2;
    color: var(--clr-primary-a60);
    text-decoration: none;
}

