 <!-- Copy from base.html -->
{% extends 'base.html'%}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block main %}
<article>
    <h1>Index Page</h1>

    {% for room in rooms %}
    <section>
        <div class="card">
            <img src="{{url_for('static', filename='png/LL_robotique.png')}}" alt="LL_robotique_tmp">
            <div class="text">
                <h2>
                    <a href="/room/{{room}}">{{room.title()}}</a>
                    <span class="material-symbols-outlined">computer</span>
                </h2>

                <p>{{text_p}}</p>
                <p>{{moyenne}}</p>
            </div>
        </div>
    {% endfor %}
</article>
{% endblock %}