 <!-- Copy from base.html -->
{% extends 'base.html'%}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block main %}
<article>

    {% for room in rooms %}
    <section>
        <div class="card">
            <img src="{{ url_for('static', filename='png/' + room.image) }}" alt="{{ room.name }} image">
            <div class="text">
                <h2>
                    <a href="/room/{{room.name}}">{{room.name.title()}}</a>
                    <span class="material-symbols-outlined">computer</span>
                </h2>

                <h4>Occupancy (%): </h4>
                <div id="gauge-{{ loop.index0 }}" class="gauge"></div>
            </div>
        </div>
    {% endfor %}
</article>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    {% for room in rooms %}
    new JustGage({
      id: "gauge-{{ loop.index0 }}",
      value: {{ room.occupancy_percent | default(0) | tojson }},
      min: 0,
      max: 100,
      title: "Occupancy",
      label: "%"
    });
    {% endfor %}
  });
</script>
{% endblock %}