<!-- Copy from base.html -->
{% extends 'base.html'%}

{% block head %}
<title>{{room}}</title>
{% endblock %}

{% block main %}
<article>
    <h1>{{room.title()}}</h1>

    <h2>Room Information</h2>
    <p>The room {{room}} has a capacity of {{room_info.capacity}} people.</p>
    <p>Currently, there are an estimated {{people}}</p>
    <h2>Room Info...</h2>
    <p>
        name: {{room_info.room}}, capacity: {{room_info.capacity}}
    </p>
    
    <h2>Recordings...</h2>
    <ul>
        {% for rec in recordings %}
        <li>{{rec}}</li>
        {% endfor %}
    </ul>
    
    
    </ul>
</article>
{% endblock %}

